$main-font: 'Noto Sans', sans-serif;
$button-color:#30CF94;
$button-color-hover: #009d66;
$input-color: #A3A6B4;
$input-color-focus: #0A92EF;
$color-txt-title: #2A3554;
$color-txt: #707070;
$color-txt-link: #0A92EF;
